
body {
    font-family: 'Nunito', sans-serif;
}
.container__form{
    width: 50vw;
    flex-direction: row;
    place-content: center;
    place-items: center;
    flex-direction: column;
}
header.container__form{
    display: flex;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    justify-content: space-evenly;
}
.flex .place-content-end{
    place-content: end;
}
.flex .place-content-center{
    place-content: center;
}
.flex .direction-column{
    flex-direction: column;
}
