
body {
    font-family: 'Nunito', sans-serif;
}
.main__content{
  width:90vw;
}
.container__form{
    /* width: 50vw; */
    flex-direction: row;
    place-content: center;
    place-items: center;
    flex-direction: column;
}
.flex .place-content-end{
    place-content: end;
}
.flex .place-content-center{
    place-content: center;
}
.flex .direction-column{
    flex-direction: column;
}

.invoice__table {
    --bg-color:#efefef;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:.3em;
  }
  
  .table__row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.5em;
    place-items: center;
    border-bottom:  1px solid #666666;
    background-color: var(--bg-color);
   
  }
  
  .table__row:first-of-type {
    --bg-color:#dfdfdf;
    border-bottom: 2px solid black;
    font-weight: 600;
  }
  .table__row:nth-of-type(2n) {
    --bg-color:#ffffff;
  }
  .table__col {
    padding: 0.1rem;
    border-bottom:1px solid #dddddd;
  }
  
  .table__col:last-of-type {
    padding: 0.1rem;
    border-bottom: none;
  }
  
  @media screen and (min-width: 600px) {
    .invoice__table{
        text-align: left;
    }
    .table__row {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      
    }
   
    .table__col {
      border: none;
    }
  }